<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-white">Gisf App</h3>
  <hr class="text-white">
  <div class="list-group list-reset mb-2" >
    <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center pointer" *ngFor="let tag of tagHistory" (click)="searchTag(tag)">
      {{ tag | titlecase}}
      <button class="btn btn-danger w-20 h-20" (click)="deleteTag(tag)">
        <img src="../../../../assets/trash.svg" alt="">
      </button>
    </div>
  </div>

</div>


